@model TrashToTreasure.Models.Models.Advertisement
<h1>Create</h1>
<hr />
<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">
                <h4>Create a new advertisement</h4>
            </div>
            <div class="card-body">
                <form asp-controller="Advertisement" asp-action="CreateAdvertisement" method="post">
                    <div class="mb-3">
                        <label class="form-label">Title</label>
                        <input asp-for=Title type="text" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <input asp-for=Description type="text" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Price</label>
                        <input asp-for=Price type="number" class="form-control" />
                    </div>
                    <button class="btn btn-primary" type="submit">Save</button>
                </form>
            </div>
            <div class="card-footer">
            </div>
        </div>

    </div>
</div>